/*-------------
 	General
-------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;

}


p {
    font-family: 'Roboto', sans-serif;
    color: #595771;

}

.omMig h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 30px;
    color: #FF3484;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;

}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}



hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
}

.column {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {

    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {

    section {
        padding: 80px 30px;
    }

}



section h3.center {
    color: #414a4f;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: left;
    margin-bottom: 35px;
    padding: 0 0px;
    line-height: 24px;
    font-size: 14px;
}

ul.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}


header nav ul {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}



@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}



/*----------------
 	Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: left;
}

.hero .background-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.hero .background-image:after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;


}

.hero h3 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;


}


@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 30px;
        text-align: center;
    }

    .hero h3 {
        font-size: 24px;
        text-align: center;
    }

}



/*--------------------
 	Our Work Section
---------------------*/

.ourWork {
    background-color: #fff;
    width: 70vw;
    margin: auto;
}




.ourWork .portfolio li {
    padding: 20px 20px 20px 20px;
    height: 350px;
    border-radius: 25px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.ourWork .portfolio li.small {
    flex-basis: 30%;
}

.ourWork .portfolio li.large {
    flex-basis: 40%;
}


@media (max-width: 1200px) {

    .ourWork .portfolio li.small,
    .ourWork .portfolio li.large {
        flex-basis: 100%;
    }

}



/*----------------------
 	omMig Section
----------------------*/

.omMig {
    width: 70vw;
    margin: auto;
    flex-grow: 1;
    flex-basis: 300px;


}

.omMig {
    flex-grow: 1;
    flex-basis: 400px;
}


.txt {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0 30px 0 0;
    background: #fff;
}


.content {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: auto;
    padding: 5px;
}

.content .left {
    flex-grow: 1;
    margin: 10px;
    padding: 6px;

}

.content .right {
    flex-grow: 1;
    margin: 10px;



}

.content img {
    width: 20vh;
    margin: auto;
}

.content .middel {
    flex-grow: 1;
    margin: 10px;
    padding: 6px;

}



.content p {
    font-size: 15px;
    line-height: 22px;
}

.content .left a {
    color: #7F73F6;
    font-size: 14px;
}


@media (max-width: 750px) {

    section.content {
        flex-direction: column;
    }

    .content .right {

        margin: auto;
    }
}


@media (max-width: 1000px) {

    .omMig .portfolio li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .omMig .portfolio li:last-child {
        margin-bottom: 0;
    }

}


@media (max-width: 600px) {

    .omMig .portfolio li {
        flex-basis: 100%;
    }

}

/*---------------------
 	Contact Section
---------------------*/

.contact {
    background-color: #f7f7f7;
    width: 100%;
    margin: auto;
    align-items: center;

}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}

.contact form .btn {
    padding: 18px 42px;
}




@media (max-width: 800px) {

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

}

/*---------------------
 	effects omMig Section
---------------------*/

.omMig {

    transform-style: preserve-3d;
    transform: perspective(800px);
}

.omMig,
h1,
.omMig p,
.omMig a {
    transition: all 0.8s ease;
}

.omMig.hidden h1 {
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.omMig.hidden p {
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(40deg);
}

::selection {
    background-color: orange;
    color: #000;
    padding: 1em 1em 1em 1em;
}
